/* styles.css */
body {
    background-color: black;
    overflow: hidden; /* Disable scrolling */
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic";
}

#tree {
    position: absolute;
    top: 0;
    left: 0;
    /*pointer-events: none; !* Allow mouse events to pass through to SVG *!*/
}

/* Combined and cleaned CSS */
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 4px;
}

.node rect {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
    cursor: pointer;
}


.node foreignObject {
    pointer-events: none;
    font-size: 14px;
}

.node-label {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.node-name {
    font-weight: bold;
    font-size: 14px; /* Adjust size as needed */
}

.node-title {
    font-size: 12px; /* Adjust size as needed */
}


.node div {
    text-align: center; /* Center align text */
    overflow-wrap: break-word; /* Allow word wrapping */
    word-wrap: break-word; /* For older browsers */
    white-space: normal; /* Ensure text wraps within the box */
    line-height: 1.2; /* Adjust line height as needed */
    /*padding: 5px; !* Add padding inside the box *!*/
}

.legend {
    font-family: Arial, sans-serif;
    font-size: 12px;
    fill: #333;
    z-index: 99;
}

#legend {
    position: fixed;
    top: 10px;
    right: -00px;


}


.test {
    fill: #eaa709;
}